<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mrj.system.mapper.SysRoleMapper">

    <resultMap id="roleMap" type="com.mrj.model.system.SysRole" autoMapping="true"/>

    <select id="selectRoleList" resultMap="roleMap">
        SELECT id, role_name, role_code, description
        FROM sys_role
        <where>
            <if test="vo.id != null">
                AND id = #{vo.id}
            </if>
            <if test="vo.roleName != null and vo.roleName != ''">
                AND role_name LIKE CONCAT('%', #{vo.roleName}, '%')
            </if>
            AND is_deleted = 0
        </where>
        ORDER BY id DESC
    </select>


</mapper>